Binaries
DerivedDataCache
Intermediate
Saved
Content/KiteDemo
Content/Mannequin
Content/ThirdPerson
Content/ThirdPersonBP
Content/Geometry
Content/WaterPlane
Content/FirstPerson
Content/FirstPersonBP
Content/InfinityBladeGrassLands
Content/SoulCave
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
