Binaries
DerivedDataCache
Intermediate
Saved
Content/KiteDemo
Content/Mannequin
Content/ThirdPerson
Content/ThirdPersonBP
Content/Geometry
Content/WaterPlane
Content/InfinityBladeGrassLands
Content/SoulCave
Content/StarterContent
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
